@import url('https://fonts.googleapis.com/css?family=open sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

html, body{
	font-family: "OpenSans", sans-serif;
	color: white;
	font-size: 3vh;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

h1 {
	text-shadow: 0vh 0vh 3vh #4F2683;
}

h2 {

}

h3 {

}

.homepage {
	height: 100%;
	width: 100%;
	margin: auto;
	/* background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../pics/teampic.jpg') no-repeat 50% 50%; */
	background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://images.unsplash.com/photo-1620207418302-439b387441b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2167&q=80") no-repeat 50% 50%;
	display: table;
	top: 0;
	background-size: cover;
}

.inner {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.content {
	max-width: 50vh;
	text-align: center;
}

/* Style the icon bar links */
.icon-bar a {
  /* display: block; */
  text-align: center;
  padding: 1.5vh;
  transition: all 0.3s ease;
  color: white;
  font-size: 2.5vh;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #4F2683;
	border-radius: 1.5vh;
}

.gen {
	padding: none;
	height: 100vh;
	margin: auto;
	display: table;
	width: 100%;
	top: 0;
	background-color: #4F2683;
}


/* Color of the navbar AFTER scroll */
.navbar-scrolled {
  background-color: #fff;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
  width: 100%;
  display: table;

}
/* section.ok{
  background-color: #555;
} */

/* p{
  color: white;
  font-family: arial;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
} */

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}



/* .navbar-dark {
	opacity: 1;
} */
/* @keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
} */
