@import url('https://fonts.googleapis.com/css?family=open sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/* img {
	max-width:20%;
}
video {
	max-width:20%;
}
source {
	max-width:20%;
} */
