@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 2%;
	background: #5e66a1;
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
}

.speaker {
	margin-left: 25%;
	margin-right: 25%;
	border-radius: 50px;
	background: linear-gradient(145deg, #555c91, #656dac);
	box-shadow: 20px 20px 60px #505789,
		-20px -20px 60px #6c75b9;
	padding-bottom:1%;
}

.btn-outline-light {
	background-color: "black";
}

.title{
	padding-bottom: 1rem;
	padding-top:2rem;
	font-weight:900;
	color:#DDD;
	letter-spacing: .05rem;
	text-transform:uppercase;
}
.navbar{
	justify-content:flex-start;
}
#circle {
	width: 20rem;
	height: 20rem;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 2%;
	margin-right: 2%;
	display: inline-flex;
	align-items: center;
	box-shadow: inset 20px 20px 60px #505789, inset -20px -20px 60px #6c75b9;
	border-radius: 50%;
}

h2 {
	font-size: 1.2em;
	font-weight: 900;
	color: white;
}

h3 {
	font-size: 1em;
	color: #dfe6e9;
}

h4{
	font-size:0.8rem;
	color: #EEE;
}
#infotext {
	padding: 10px;
	margin: auto;
	width: 90%;
	/* margin-top: 10px; */
	color: white;
	border-radius: 15px;
}

#playpausebtn {
	padding: 0.2rem;
}

#bar {
	width: 50%;
	margin: auto;
	border-radius: 18px;
	box-shadow: inset 5px 5px 15px #4b5281,
		inset -5px -5px 15px #717ac1;
}
.row{
	width:100%;
}

.changebar {
	height: 3rem;
	border-radius: 25%;
	color: white;
	margin: 0.8rem;
	border-radius: 10px;
	background: linear-gradient(145deg, #555c91, #656dac);
	box-shadow: 5px 5px 15px #52598c,
		-5px -5px 15px #6a73b6;
}

#backbtn {
	width: 3rem;
	height: 3rem;
	align-items: center;
	justify-content: center;
	border-radius: 25%;
	background: linear-gradient(145deg, #555c91, #656dac);
	box-shadow: 5px 5px 15px #52598c,
		-5px -5px 15px #6a73b6;
}

#backbtn2 {
	width: 3rem;
	height: 3rem;
	align-items: center;
	justify-content: center;
	border-radius: 25%;
	background: linear-gradient(145deg, #555c91, #656dac);
	box-shadow: 5px 5px 15px #52598c,
		-5px -5px 15px #6a73b6;
}
#pausebtn {
	visibility: hidden;
}

#timerContainer {
	margin: auto;
}

.timer-text {
	font-size: 3em;
	font-weight: 800;
	padding: 30px;
}

.btn-secondary {
	background: #5e66a1;
}

@media only screen and (max-width: 1300px) {
	body {
		padding-left: 5%;
		padding-right: 5%;
	}

	.speaker {
		margin-left: 15%;
		margin-right: 15%;
		border-radius: 50px;
		background: linear-gradient(145deg, #555c91, #656dac);
		box-shadow: 20px 20px 60px #505789,
			-20px -20px 60px #6c75b9;
	}

	#circle {
		margin-top: 2%;
		margin-bottom: 2%;
	}
}

@media only screen and (max-width: 900px) {
	body {
		padding-left: 5%;
		padding-right: 5%;
	}

	.speaker {
		margin-left: 2%;
		margin-right: 2%;
		border-radius: 50px;
		background: linear-gradient(145deg, #555c91, #656dac);
		box-shadow: 20px 20px 60px #505789,
			-20px -20px 60px #6c75b9;
	}

	#circle {
		margin-top: 2%;
		margin-bottom: 2%;
	}
}

@media only screen and (max-width: 625px) {
	body {
		padding-left: 2%;
		padding-right: 2%;
	}

	#bar {
		width: 80%;
	}

	#circle {
		width: 17rem;
		height: 17rem;
		margin-top: 2%;
		margin-bottom: 2%;
	}

	#playpausebtn {
		padding: 0rem;
	}
	.backbtn{
		padding-bottom:0.5rem;
	}
}

@media only screen and (max-width: 350px) {
	body {
		padding-left: 2%;
		padding-right: 2%;
	}

	#bar {
		width: 80%;
	}

	#circle {
		width: 14rem;
		height: 14rem;
	}

	.changebar {
		margin: 0.2rem;
	}
}
