@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


body {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 8%;
	background: #5e66a1;
	width:100%;
	padding-left:15%;
	padding-right:15%;
}

.speaker {
	margin-left:25%;
	margin-right:25%;
	border-radius: 50px;
	background: linear-gradient(145deg, #555c91, #656dac);
	box-shadow: 20px 20px 60px #505789,
		-20px -20px 60px #6c75b9;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.backbtn:hover {
	box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2) !important;
	background-color: #3e4b77 !important;
	color: #fff !important;
}

.btn-outline-light {
	background-color: "black";
}
#btnhome{
	color:white;
	padding:1rem;
	padding-left:2.5rem;
	padding-right:2.5rem;
	border-radius: 10px;
	background: linear-gradient(145deg, #555c91, #656dac);
	box-shadow: 5px 5px 15px #52598c,
		-5px -5px 15px #6a73b6;
}
h1 {
	color:white;
	font-weight:900;
}

h2 {
	font-size: 1.2em;
	font-weight: 900;
	color: white;
}

h3 {
	font-size: 1em;
	color: #dfe6e9;
}


#backbtn {
	width: 4rem;
	height: 4rem;
	align-items: center;
	justify-content: center;
	border-radius: 25%;
	background: linear-gradient(145deg, #555c91, #656dac);
	box-shadow: 5px 5px 15px #52598c,
		-5px -5px 15px #6a73b6;
}

#backbtn2 {
	width: 4rem;
	height: 4rem;
	margin-top:5%;

	align-items: center;
	justify-content: center;
	border-radius: 25%;
	background: linear-gradient(145deg, #555c91, #656dac);
	box-shadow: 5px 5px 15px #52598c,
		-5px -5px 15px #6a73b6;
}
.btn-secondary {
	background: #5e66a1;
}

@media only screen and (max-width: 1300px) {
	body{
		padding-left:5%;
		padding-right:5%;
	}
}

@media only screen and (max-width: 900px) {
	body{
		padding-left:5%;
		padding-right:5%;
	}
}
@media only screen and (max-width: 625px) {
	body{
		padding-left:2%;
		padding-right:2%;
	}
}
@media only screen and (max-width: 350px) {
	body{
		padding-left:2%;
		padding-right:2%;
	}
}
