@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
	/* background: rgb(243,211,249);
	background: radial-gradient(circle, rgba(243,211,249,1) 0%, rgba(31,23,158,0.8786108193277311) 100%); */
	font-family:Arial, Helvetica, sans-serif;
	/* align-content:center; */
	text-align:center;

	padding-top: 5%;
	padding-bottom:5%;
	/* background: #5e66a1; */
	background-image:url("../img/background.jpg");
	margin:2%;
	/* align-content:left; */
	/* background-color:#3F4649; */
  /* color: white; */
/* } */
}
/* .btn-outline-light{
	background-color:"black";
} */
@media (min-width: 320px) and (max-width: 999px) {

  // Mobile and tablet CSS

}

@media (min-width: 1000px) {

  // Laptop/desktop CSS

}
#btnhome{
	color:white;
	/* border-radius: 8px;
	background: linear-gradient(145deg, #656dac, #555c91);
	box-shadow:  9px 9px 18px #454a76,
	             -9px -9px 18px #7782cc;*/
	padding:1rem;
	width:24rem;
	border-radius: 8px;
	background: #5e66a1;
	/* box-shadow: inset 9px 9px 18px #a6abb5,
	            inset -9px -9px 18px #e6edf9; */
}

h1{
	color:#5e66a1;
	font-size:2em;
	font-weight:900;
}
h2{
	font-size:1em;
	font-weight:900;
	color:#666;
	margin:auto;
}
h3{
	font-size:1em;
	color: #dfe6e9;
}
#infotext{
	padding:20px;
	/* margin-left:20%;
	margin-right:20%; */
	margin:auto;
	width:20rem;
	margin-top:20px;
	color:white;
	border-radius: 15px;
	/* background: #d0e1eb; */
}
#backbtn{
	border-radius: 8px;
	color: white;
	background: #3b3b6d;
	box-shadow: inset 8px 8px 16px #353561,
	            inset -8px -8px 16px #414179;
}
#backbtn2{
	border-radius: 8px;
	color: white;
	background: #5e66a1;
}
#infotimer{
}

.btn-info, .btn-info:active, .btn-info:visited {
    background-color: #636e72;
		border-color:#636e72;
}

.btn-info:hover{
	background-color: #2d3436;
	border-color: #2d3436
}
#pausebtn{
	visibility:hidden;
}
#timerContainer{
	margin:auto;
}
.timer-text{
	font-size: 3em;
	font-weight:800;
	padding: 30px;
}

.speaker{
	border-radius: 50px;
background: linear-gradient(145deg, #555c91, #656dac);
box-shadow:  20px 20px 60px #505789,
             -20px -20px 60px #6c75b9;
	padding-top:3rem;
	padding-bottom:3rem;
	width:30rem;
	margin:auto;
}
.backbtn:hover{
	box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2) !important;
	background-color: #3e4b77 !important;
	color: #fff !important;
}
.btn-outline-light {
	background-color: "black";
}

@media (min-width: 320px) and (max-width: 999px) {
	// Mobile and tablet CSS
}

@media (min-width: 1000px) {
	// Laptop/desktop CSS
}

#top-menu {
	width: 80%;
	display: flex;
	padding-top: 3%;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	text-transform: uppercase;
	font-size: .8rem;
	letter-spacing: .1rem;
	color: #EEE;
	margin-bottom:1rem;
}
